{% extends 'base.html.twig' %}

{# block logo %}
    <div class="verticalMiddle col-md-4 col-sm-4 col-xs-12">
      <a class="header__logo header__logo--section" href="/"><img src="/public/img/logo.png"></a>
      <h3 class="header__sectionName marginTop10">{{ gimme.route.name|capitalize }}</h3>
    </div>
{% endblock #}

{% block body %}

  {# Setup list and pagination parameters #}
  {% set defaultItemsPerPage, itemsPerPage, currentPage = 9, 9, app.request.get('page', 1) %}

  <main class="container">
    <div class="row">

      <div class="col-md-9 col-sm-12 col-xs-12">
        {% set CLArticles = [] %}
        {% set routeCLLength = 0 %}
        {% gimme contentList with {contentListName: gimme.route.name|capitalize} %}
        {% gimmelist item from contentListItems with { contentListName: contentList.name } %}
          {% set article = item.content %}
          {% set CLArticles = CLArticles|merge([article.id]) %}
          {% if currentPage == 1 %}
            {% if loop.first %}
              {% include 'partials/mainArticleSection.html.twig' with {'class' : ''} %}
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                    <div class="articleGrid row">            
            {% else %}
              {% include 'partials/articleGrid__item.html.twig' with {'class' : 'articleGrid__item--threeColumns col-md-4 col-sm-6 col-xs-12'} %}
            {% endif %}
          {% endif %}
        {% endgimmelist %}
        {% endgimme %}

        {% set totalArticles = 0 %}
        {% gimmelist article from articles|limit(1) with {route: gimme.route} %}
          {% set totalArticles = loop.totalLength %}
        {% endgimmelist %}

        {% set routeCLLength = CLArticles|length %}

        {% if routeCLLength == totalArticles %}
          </div>
        </div>
        {% endif %}

        {% set start = ((currentPage-1) * itemsPerPage) +1 %}

        {% if currentPage == 1 %}
          {% set itemsPerPage = 10 - routeCLLength %}
          {% set start = 0 %}
        {% endif %}

        {# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}

        {% gimmelist article from articles|start(start)|limit(itemsPerPage)|order('publishedAt','desc') without {article: CLArticles} %}

        {% if loop.first and currentPage == 1 and routeCLLength == 0 %}

          {% include 'partials/mainArticleSection.html.twig' with {'class' : ''} %}

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
              <div class="articleGrid row">
            
          {% else %}

          {% if loop.first and currentPage != 1 %}

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
              <div class="articleGrid row">

          {% endif %}

          {% include 'partials/articleGrid__item.html.twig' with {'class' : 'articleGrid__item--threeColumns col-md-4 col-sm-6 col-xs-12'} %}

          {% endif %}
          
          {# Render pagination only at end of list #}
          {% if loop.last  %}
          </div>
        </div>

        {#
          Use provided by default pagination template
          Parameters:
          * currentFilters (array) : associative array that contains the current route-arguments
          * currentPage (int) : the current page you are in
          * paginationPath (Meta|string) : the route name (or supported by router Meta object) to use for links
          * lastPage (int) : represents the total number of existing pages
          * showAlwaysFirstAndLast (bool) : Always show first and last link (just disabled)
        #}
 
        {% include 'partials/pagination.html.twig' with {
          currentFilters: {}|merge(app.request.query.all()),
          currentPage: currentPage,
          paginationPath: gimme.route,
          lastPage: (loop.totalLength/defaultItemsPerPage)|round()
        } only %}

        {% endif %}

      {% endgimmelist %}


    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3">
    {% include 'elements/most.html.twig' with {'class' : 'marginBottom30'} %}
    <div class="ad hidden-xs marginTop30 marginBottom30">
      <img src="{{ asset('theme/img/article_img/ad.png') }}">
    </div>

    <div class="marginTop30 marginBottom30">
      {% include 'elements/facebook.html.twig' %}
    </div>
  </div>
</div>

</main>

{% endblock %}
